.input-field {
  display: flex;
  padding: 0 10px 0 30px;
  border: 0px;
  width: 100%;
  flex: 1 100%;
  background: inherit;
  color: white;
}

.input-field:focus{
  outline: none;
  color: gray;
}

.search-button {
  padding: 0;
  margin: 0;
  border: 0px;
  width: 10%;
  align-items: center;
  justify-content: right;
  background: inherit;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.search-button:hover{
  color: black;
  background-color: #C7CBE5;
}