@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

.weather-card {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  width: 600px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.top-div {
  display: flex;
  flex: 0 100%;
  height: 60%;
  background-color: #53354A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-left-div {
  display: flex;
  flex: 3;
  height: 40%;
  align-items: center;
  justify-content: center;
  background-color: #A64942;
  color: white;
  border-bottom-left-radius: 20px;
}

.bottom-middle-div {
  display: flex;
  flex: 4;
  flex-flow: column wrap;
  height: 40%;
  align-items: center;
  justify-content: center;
  background-color: #A64942;
  color: white;
}

.bottom-right-div {
  display: flex;
  flex: 3;
  height: 40%;
  background-color: #FF7844;
  border-bottom-right-radius: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}

.temperature {
  font-size: 65px;
  font-weight: 800;
}

.place {
  font-size: 15px;
  font-weight: 100;
}

.date {
  font-size: 36px;
  font-weight: 800;
}

.weather-condition {
  text-transform: upperCase;
  font-size: 35px;
  font-weight: 200;
}

.icon {
  color: white;
  font-size: 100px;
}