.button {
  padding: 0;
  margin: 0;
  border: 0px;
  width: 10%;
  align-items: center;
  justify-content: right;
  background: inherit;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.button:hover{
  color: black;
  background-color: #C7CBE5;
}