.error-card {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  width: 600px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #973C37;
}
/* 
.status-error {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 96px;
  font-weight: bolder;
  color: lightgray;
  border-bottom-left-radius: 20px;
} */

.message-error {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border-bottom-right-radius: 20px;
}