.search-card {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  height: 50px;
  width: 600px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #0D0F1C;
}

.input-field {
  display: flex;
  padding: 0 10px 0 30px;
  flex: 9;
  border: 0px;
  border-top-left-radius: inherit;
  background: inherit;
  color: white;
}

.input-field:focus{
  outline: none;
  color: gray;
}

.search-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: inherit;
  border: 0px;
  border-top-right-radius: inherit;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.search-button:hover{
  color: black;
  background-color: #C7CBE5;
}