@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #1B1F3A;
  font-family: Poiret One;
}